.footer {
    /* position: absolute; */
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
}

.footer p {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}