.diet-section-class {
    height: 100vh;
    /* width: 100%; */
}

.slider {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    /* box-sizing: border-box; */
    /* margin: 0; */
    /* padding: 0; */
    display: flex;
    align-items: center;
    overflow: hidden;
    background: black;
}

.slide {
    position: relative;
    min-width: 100%;
    height: 100vh;
    transition: 0.5s;
    overflow: hidden;
}

#goLeft {
    position: absolute;
    /* top: 50%; */
    left: 0;
    /* transform: translateY(-50%); */
    width: 10%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
    font-size: 2vw;
}

#goLeft:after {
    content: ' \25C0';
    /* content: ' \003C'; */
    color: white;
}

#goLeft:hover, #goRight:hover {
    background: rgba(0, 0, 0, 0.356);
    cursor: pointer;
    color: white;
}

#goRight {
    position: absolute;
    /* top: 50%; */
    right: 0;
    /* transform: translateY(-50%); */
    width: 10%;
    height: 100%;
    font-size: 2vw;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
}
#goRight:after {
    content: ' \25B6';
    /* content: ' \003E'; */
    color: white;
}

.toRecipeBtn {
    background-color: rgb(38, 24, 14, 0.7);
    position: absolute;
    right: 45%;
    width: 10%;
    height: 10%;
    color: white;
    font-size: 2vw;
    outline: none;
    border: none;
    cursor: pointer;
}
